body {
  margin: 20px auto;
  width: 350px;
}

div {
  margin-top: 10px;
}

button {
  width: 75px;
}

#todoList {
  padding: 0;
}

#addTodoBtn, #btn-pg {
  width: 150px;
}

.container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 5px;  
}

.is__complete {
  text-decoration: line-through;
}

.non__completed {
  text-decoration: none;
}

#filterContainer {
  display: flex;
  justify-content: center;
}

#pagingContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.pageNumber {
  margin: 10px;
  cursor: pointer;
}

.activeBtn {
  background-color: green;
  color: white;
}

.activePg {
  color: green;
  font-weight: bold;
}