body {
  margin: 20px auto;
  width: 500px;
}

div {
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 300px;
  list-style-type: none;
}

.is__complete {
  text-decoration: line-through;
}

.non__completed {
  text-decoration: none;
}

.pagingContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.pageNumber {
  width: 30px;
  margin: 10px;
}

.greenBtn {
  background-color: green;
}
